@use 'reset';
@use 'layout';
header {
  background: url('../images/swc-banner.jpeg');
  background-size: cover;
  background-position: center;
  height: 300px;
}
ul {
  list-style-image: url('../images/sword.svg');
  list-style-type: circle;
}
.p16 [class^='col-'] {
  padding: 16px;
}
